@media (min-width: 768px){
    #container{
        background-color: antiquewhite;

    }
}

@media (min-width: 992px){
    .container{
        background-color: coral;
    }
}

@media (min-width: 1200px){
    .container{
        background-color: white;
    }
}
