@media (min-width: 768px){
    #container{
        background-color: antiquewhite;

    }
}

@media (min-width: 992px){
    .container{
        background-color: white;
    }
}

@media (min-width: 1200px){
    .container{
        background-color: white;
    }
}

button{
    border: none;

}

#hori1{
    background-color: #892be2;
    color: white;
    padding:10px 10px 10px 10px;
    
}

#hori1:hover{
    background-color: lightskyblue;
    color: #892be2;

}