@media (min-width: 768px){
    #container{
        background-color: antiquewhite;

    }
}

@media (min-width: 992px){
    .container{
        background-color: white;
    }
}

@media (min-width: 1200px){
    .container{
        background-color: white;
    }
}

button{
    border: none;

}

a {
    color: inherit;
    text-decoration: none;
}
#hori1{
    background-color: lightcoral;
    color: white;
    padding:10px 10px 10px 10px;
    border-radius: 4px;
    margin-right: 10px;
    
}

#hori1:hover{
    background-color: lightskyblue;
    color: #892be2;

}

#hori2{
    background-color: lightgoldenrodyellow
    color: darkolivegreen;
    padding:10px 10px 10px 10px;
    border-radius: 4px;
    
}

#hori2:hover{
    background-color: lightpink;
    color: lightseagreen;

}

#contentButton{
    background-color: lightcoral;
    color: white;
    padding:10px 10px 10px 10px;
    border-radius: 4px;
    
}

#contentButton:hover{
    background-color: lightskyblue;
    color: #892be2;

}